.container-fluid{
    background-color: #000080;
    color: azure;
}

.navbar-brand{
    height: 80px;
    width: 100px;
    background-color: aliceblue;
    border-radius: 10px;
}
.navbar-brand img{
    height: 100%;
    width: 100%;
}

.nav-item active{
    background-color: white;
}

.row{
    height: 30px;
    width: 100px;
    background-color: #fff;
    font-weight: 800;
    font-size: 16px;
    border-radius: 50px;
    color: black;
}

.nav-item{
    font-size: 17px;
    font-weight: 700;
    background-color: #fff;
    margin: 20px;
    border-radius: 15px;
}